body {
    font-family: 'Open Sans', sans-serif;
    background: white;
    width: 100%;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

p {
    font-size: 10px;
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 1.25em;
    color: #808080;
}

.box {
    background: white;
    width: 300px;
    border-radius: .5px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 70px 0px;
    border: #AAAAAA 1px solid;
}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn {
    background: #AAAAAA;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #808080 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}

    .btn:hover {
        background: #2CC06B;
    }

